<div>
	<div style="text-align: center; margin:0px; padding-top:16px">
		<div id="timer"></div>
		<div id="setsfound"></div>
	</div>
	<div style="text-align: center; margin:0px; padding-top:16px">
		<img style = "border:2px solid white" src="images/cards/blank.gif" id="card_image0"/>
		<img style = "border:2px solid white" src="images/cards/blank.gif" id="card_image1"/>
		<img style = "border:2px solid white" src="images/cards/blank.gif" id="card_image2"/>
		<img style = "border:2px solid white" src="images/cards/blank.gif" id="card_image3">
		<img style = "border:2px solid white" src="images/cards/blank.gif" id="card_image4"/>
		<img style = "border:2px solid white" src="images/cards/blank.gif" id="card_image5"/>
		<img style = "border:2px solid white" src="images/cards/blank.gif" id="card_image6"/>
		<img style = "border:2px solid white" src="images/cards/blank.gif" id="card_image7"/>
		<img style = "border:2px solid white" src="images/cards/blank.gif" id="card_image8"/>
		<img style = "border:2px solid white" src="images/cards/blank.gif" id="card_image9"/>
		<img style = "border:2px solid white" src="images/cards/blank.gif" id="card_image10"/>
		<img style = "border:2px solid white" src="images/cards/blank.gif" id="card_image11"/>
		<img style = "border:2px solid white; display:none;" src="images/cards/blank.gif" id="card_image12"/>
		<img style = "border:2px solid white; display:none;" src="images/cards/blank.gif" id="card_image13"/>
		<img style = "border:2px solid white; display:none;" src="images/cards/blank.gif" id="card_image14"/>
		<img style = "border:2px solid white; display:none;" src="images/cards/blank.gif" id="card_image15"/>
		<img style = "border:2px solid white; display:none;" src="images/cards/blank.gif" id="card_image16"/>
		<img style = "border:2px solid white; display:none;" src="images/cards/blank.gif" id="card_image17"/>
	</div>
</div>
