<div class="palm-body-text">
A set consists of three cards which satisfy all of these conditions:
<ul>
<li>They all have the same number, or they have three different numbers.</li>
<li>They all have the same symbol, or they have three different symbols.</li>
<li>They all have the same shading, or they have three different shadings.</li>
<li>They all have the same color, or they have three different colors.</li>
</ul>
The rules of Set are summarized by: If you can sort a group of three cards into "Two of ____ and one of _____," then it is not a set.
One example of a set would be these three cards:
<ul>
<li>One red striped diamond</li>
<li>Two red solid diamonds</li>
<li>Three red open diamonds</li>
</ul>
</div>
